
body{
    background-color:#17777d;
}

h1{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

main{
    background-color: aliceblue;
    width: 850px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(12, 12, 12, 0.281);
}
span{
    font-weight: bold;
}
p{
    text-align: justify;
}
table{
    text-align: center;
    background-color: #17777d;
    width: 848px;
  
}
/*
.linhaHover{
    background-color:#98FB98;
    }

.linhaSelecionada{
        background-color:#7CFC00;
        font-weight:bold;
        }
*/